# Virtual Environment
venv/

# Environment Variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
*.db

# ChromaDB
data/chroma_db/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db